.git
.github
.idea
.vscode
.fleet
.zed

.env
.env.*
!.env.example
!.env.docker.example

node_modules
vendor

.phpunit.cache
.phpunit.result.cache
.phpactor.json

public/build
public/hot
public/storage
public/fonts-manifest.dev.json

storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key
storage/pail

database/database.sqlite

npm-debug.log
yarn-error.log

docs
design-system.html
